<h1 class="text-3xl text-slate-200 text-bold">
	Error performing search "{{search}}"
</h1>
<p class="text-slate-300">
	Consider viewing <a href="/search-reference">our search reference</a>
	for info on performing searches in Reisen
</p>

