{{#posts}}
	{{>post-ambiguous}}
{{/posts}}
<div class="flex justify-between mt-5">
	{{#rkeyset}}
		<a
			class="text-slate-200 bg-violet-500 hover:bg-violet-600 rounded px-5 py-3"
			href="/{{board}}?rkeyset={{rkeyset}}"
		>
			Previous page
		</a>
	{{/rkeyset}}
	{{^rkeyset}}
		<button
			class="bg-violet-300 rounded px-5 py-3"
			disabled
		>
			Previous page
		</button>
	{{/rkeyset}}

	{{#keyset}}
		<a
			class="text-slate-200 bg-violet-500 hover:bg-violet-600 rounded px-5 py-3"
			href="/{{board}}?keyset={{keyset}}"
		>
			Next page
		</a>
	{{/keyset}}
	{{^keyset}}
		<button 
			class="bg-violet-300 rounded px-5 py-3"
			disabled
		>
			Next page
		</button>
	{{/keyset}}
</nav>
