<h1 class="title has-text-white-bis">
	Error performing search "{{search}}"
</h1>
<p class="has-text-white-bis">
	The search itself was performed successfully, the issue
	was retrieving the result list from the database.
</p>
<p class="has-text-white-bis">
	Please try again in a couple minutes.
</p>


