<h1 class="text-slate-200 text-3xl mb-4">
	{{#countMoreThanOne}}
		{{count}} results found
	{{/countMoreThanOne}}
	{{^countMoreThanOne}}
		A single result found
	{{/countMoreThanOne}}
</h1>

{{#posts}}
	{{>post-ambiguous}}
{{/posts}}

<form action="/{{board}}/search" method="get">
	<input
		type="hidden"
		name="search"
		value="{{search}}"
	/>
	<div class="flex justify-between">
		{{#offset}}
			<button
				class="bg-violet-500 hover:bg-violet-600 px-5 py-3 rounded text-slate-200"
				name="offset"
				value="{{previousPageOffset}}"
			>
				Previous page
			</button>
		{{/offset}}
		{{^offset}}
			<button
				class="bg-violet-300 px-5 py-3 rounded"
				disabled
			>
				Previous page
			</button>
		{{/offset}}

		{{#nextPageOffset}}
			<button
				class="bg-violet-500 hover:bg-violet-600 px-5 py-3 rounded text-slate-200"
				name="offset"
				value="{{nextPageOffset}}"
			>
				Next page
			</button>
		{{/nextPageOffset}}
		{{^nextPageOffset}}
			<button
				class="bg-violet-300 px-5 py-3 rounded"
				disabled
			>
				Next page
			</button>
		{{/nextPageOffset}}
	</div>
</form>
