<h1 class="text-3xl text-slate-200 text-bold">
	Contact
</h1>
<p class="text-slate-200">
	You may contact me by e-mailing eientei-archive@proton.me for DMCAs and reporting illegal content and etc.
</p>
