<div class="md:mx-8 lg:mx-8">
	<h1 class="text-3xl text-bold text-slate-200 mt-3 mb-2">Archives</h1>

	{{#boards}}
	<h2 class="text-xl text-violet-600 hover:text-violet-700">
		<a href="/{{Name}}">
			/{{Name}}/
			<small>{{Description}}</small>
		</a>
	</h2>
	{{/boards}}
</div>
