<!DOCTYPE html>
<html
	lang="en"
	{{#board}}
		data-board="{{board}}"
	{{/board}}
	{{#conf.OekakiUrl}}
		data-oekaki-url="{{conf.OekakiUrl}}"
	{{/conf.OekakiUrl}}
>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{conf.TegakiCssUrl}}">
		<link rel="stylesheet" href="{{conf.CssUrl}}"/>
		<link rel="icon" href="{{conf.FaviconUrl}}"/>
		<title>
			Eientei Archive
			{{#board}}
				- /{{board}}/
			{{/board}}
		</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.6.1/MathJax.js?config=TeX-AMS_HTML-full"></script>
		<script src="{{conf.TegakiJsUrl}}"></script>
	</head>
	<body>
		<nav>
			<div id="board-list">
				Boards:
				{{#boards}} <a href="/{{Name}}">/{{Name}}/</a> {{/boards}}
			</div>
			<div id="main-nav">
				<div id="nav-links">
					<a href="/">Eientei</a>
					<a href="/contact">Contact</a>
				</div>
				{{#board}}
					<form action="/{{board}}/search" id="search-form">
						<div>
							<input
								type="text"
								name="search"
								id="search-input"
								placeholder="Search"
								{{#search}}
									value="{{search}}"
								{{/search}}
							/>
							<button>🔍</button>
						</div>
					</form>
				{{/board}}
			</div>
		</nav>
		<div id="content">
			{{{content}}}
		</div>
		<script src="{{conf.JsUrl}}"></script>
	</body>
</html>
