<!DOCTYPE html>
<html lang="en" class="has-background-black-ter">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"/>
		<link rel="icon" href="{{conf.FaviconUrl}}"/>
		<title>
			Eientei Archive
			{{#board}}
				- {{board}}
			{{/board}}
		</title>
		<style>
			.quote{
				color: BlueViolet
			}
		</style>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.6.1/MathJax.js?config=TeX-AMS_HTML-full"></script>
		<script src="{{conf.JsUrl}}"></script>
	</head>
	<body>
		<nav class="navbar is-black">
			<div class="container">
				<div class="navbar-brand">
					<a class="navbar-item is-size-4" href="/">
						Eientei
					</a>
					<a class="navbar-item is-size-5" href="/contact">
						Contact
					</a>
				</div>
				{{#board}}
					<div class="navbar-menu">
						<div class="navbar-end">
							<div class="navbar-item">
								<form action="/{{board}}/search">
									<div class="field is-grouped">
										<div class="control">
											<input
												required
												type="text"
												class="input"
												name="search"
												{{#search}}
													value="{{search}}"
												{{/search}}
											/>
										</div>
										<div class="control">
											<button 
												class="button is-success"
												type="submit"
												style="background-color: DarkViolet; border: 0px;"
											/>
												Search
											</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				{{/board}}
			</div>
		</nav>
		<section class="section">
			<div class="container is-fluid">
				{{{content}}}
			</div>
		</section>
	</body>
</html>
